
<form class="greyBox alignCenter">
        <h3>Did We Forget Something Awesome? Add It To The List!</h3>
        <p>Your email address won't be published.  Required fields are marked *</p>
        <label>Your Favorite Thing*</label>
        <textarea class="form-control-textarea userAdd"></textarea>
        <label>Name*</label>
        <input class="form-control-input"/>
        <label>Email*</label>
        <input class="form-control-input"/>
        <label>Website/Twitter</label>
        <input class="form-control-input"/>
        <button class="btn btn-primary">Submit</button>
    </form>